### Wordpress ###

wp-config-prod.php
wp-cli.local.yml
wp-content/*
!wp-content/index.php
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
!wp-content/languages/
!wp-content/fields/
!wp-content/config/

# Ignore specific plugins
wp-content/plugins/hello.php

# Ignore specific themes
wp-content/themes/twenty*/

### Dependencies & Build Files ###

node_modules/
.sass-cache/

### Compiled Files ###

*.com
*.class
*.dll
*.exe
*.o
*.so

### Packaged Files & Archives ###

*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz
!wp-includes/**/*.gz

### Log Files ###

error_log
*.log

### System Files ###

.htaccess
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.ftpquota
.phpintel
*.un~

### Sitemaps ###

sitemap.xml
sitemap.xml.gz
